.container {
  padding: 0 2rem;
}

.basicText{
  margin: 30px;
  padding: 5px;
  text-align: center;
}

.basicText h3{
padding-bottom: 15px;
}

.basicText p{
font-family: sans-serif;
}

.row{
  width: 100%;
  height: 550px;
  margin: auto;
  display: flex;
  justify-content: center;

}

.column{
  width: 75%;
  height: 100%;
  background-color: #fafafa;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: relative;
}

.row img{
  padding-top: 10px;
  padding-bottom: 30px;
  height: 150px;
  width: 100%;
  margin: auto;
  display: block;
}

.row button{
  background-color: black;
  position: absolute;
  bottom: 20px;
  color: white;
} 


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.centered-list {
  text-align: center;
  list-style: none;
  text-align: center;
  list-style-position: inside;
  color: "white";
}

.centered-list ul {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  list-style: none;
  color: "white";
}

.centered-list li {
  margin: 1.5em 0;
  padding-right: 1em;
  text-align: left;
  list-style-position: inside;
  list-style: none;
  color: "white";
}

.guideTools {
  color: white;
}